<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE Empro || Fabric Inspection Department Sourcing</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <header class="prod__header">
        <div class="navbrand">
          <a href="/">
            <img src="/images/logo.png" alt="Logo" />
          </a>
        </div>
        <div class="navbar">
          <a href="/" class="nav-link">Home</a>
        </div>
      </header>
      <main class="prod__main">
        <form class="prod__form" action="/fabric-sourcing/form" method="POST">
          <h2>Fabric Details</h2>
          <div class="formgroup">
            <label for="fabricName">Fabric Name: </label>
            <input type="text" name="fabricName" id="fabricName" />
          </div>
          <div class="formgroup">
            <label for="fabricContent">Fabric Content: </label>
            <input type="text" name="fabricContent" id="fabricContent" />
          </div>
          <div class="formgroup">
            <label for="fabricColour">Fabric Colour: </label>
            <input type="text" name="fabricColour" id="fabricColour" />
          </div>
          <div class="formgroup">
            <label for="dateOfReceiving">Date of Receiving: </label>
            <input type="Date" name="dateOfReceiving" id="dateOfReceiving" />
          </div>
          <div class="formgroup">
            <label for="dateOfInspection">Date Of Inspection: </label>
            <input type="Date" name="dateOfInspection" id="dateOfInspection" />
          </div>
          <div class="formgroup">
            <label for="length">Length: </label>
            <input type="number" name="length" id="length" />
          </div>
          <div class="formgroup">
            <label for="afterInspection">After Inspection: </label>
            <select name="afterInspection" id="afterInspection">
              <option value="OK Pass">Ok Pass</option>
              <option value="Pass with wastage">Pass with wastage</option>
              <option value="Rejected">Rejected</option>
              <option value="Approval Pending">Approval Pending</option>
            </select>
          </div>
          <div id="extra-fields-div" class="formgroup"></div>
          <button id="customFields">Add More Fields +</button>
          <input type="submit" value="Submit" />
        </form>
      </main>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
